.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/
/* demo
/*/


body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #444;
    margin: 30px 40px;
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #EFEFEF;
 
}

.gridster li {
    font-size: 1em;
    text-align: center;
    line-height: 100%;
    text-overflow : clip;    
    border : 1px solid black;
    overflow : hidden;
    text-overflow : ellipsis;   
        
}
.description h3, h5 {
    font-weight: bold;        
}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}


img { max-width: 100%; max-height: 100%;}

#Labbresultat {
    border: solid 1px black ;
}
#Labbresultat th, td{
    border: solid 1px black ;
}
thead, tr{
    border: solid 1px black ;
}

.gridster .yellow{background:yellow;}
.gridster .red{background:red;}
.gridster .darkblue{background:blue;}
.gridster .pink{background:pink;}
.gridster .green{background:green;}
.gridster .purple{background:purple;}
.gridster .gray{background:#ccc;}
.gridster .darkred{background:darkred;}
.gridster .black{background:black;}
